body {
  padding: 0;
  margin: 0 auto;
  overflow-x : hidden;
  overflow-y : hidden;
}

#top {
  height: 1px;
  width: auto;

}

#wrapper {
  width: auto;
  margin: 0 auto;
 
}

#container {
  background: url("../images/Layer5.png") center;

  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 1100px;
 
  
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}
#scene { 
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}


.layer img{
  /*background-image: url("../images/Layer5.png");*/
  /*position: relative;*/
  /*height:auto;*/
    width:100%;
    margin: 0px auto;
    
  
}

