body {
  padding: 0;
  margin: 0 auto;
  overflow-x : hidden;
  overflow-y : hidden;
  background-color: #9ccec8;

}

#top {
  height: 1px;
  width: auto;
}


#container {
  width: 100%;
  margin: 0 auto;

}

#scene { 
 /* list-style: none;
  text-decoration: none;*/
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD

=======
>>>>>>> parent of 1fe6b82... added more layers
.foreground{
  background-image: url("../images/foreground.png");
  background-size: cover;
  width: 150%;
  left: -30%;
  top: 5%;
  height: 700px;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
   
}
.mid{
  background-image: url("../images/mid.png");
  background-size: cover;
<<<<<<< HEAD
  top: 5%;
  left: -10%;
  width: 120%;
  height: 700px;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  background-position: center ;
}

.mid-leaves{
  background-image: url("../images/mid-leaves.png");
  background-size: cover;
  padding-top: 1%;
  top: 3%;
  left: -10%;
  width: 120%;
  height: 700px;
  text-align: center;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center ;
}



.background-bushes{
  background-image: url("../images/background-bushes.png");
  background-size: cover;
=======
>>>>>>> parent of 1fe6b82... added more layers
  top: 3%;
  left: -30%;
  width: 150%;
  height: 700px;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  background-position: center ;
}


.background{
  background-image: url("../images/background.jpg");
  background-size: cover;
  width: 150%;
  height: 700px;
  bottom: 100%;
  left: -30%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;  
}




